.container{
    width: 1200px;
    box-sizing: border-box;
    margin: auto;
}

.container-nopadding{
    padding: 0px;
    margin: 0px auto;
}

main{
    padding: 45px 0px;
}


@media screen and (max-width: 1200px){
    .container{
        width: 100%;
        padding: 0 15px;
    }

    .container-nopadding{
        padding: 0px;
        margin: 0px auto;
    }
}