.container{
    width: 1200px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
}

.container-nopadding{
    padding: 0px;
    margin: 0px auto;
}

main{
    padding: 45px 0px;
    
}

blockquote{
    color: #777;
}

@media screen and (max-width: 1200px){

    main{
        width: 100%;
        overflow: hidden;
    }

    .container{
        width: 100%;
        padding: 0 15px;
    }

    .container-nopadding{
        padding: 0px;
        margin: 0px auto;
    }
}
