.hero{
  background-image: url('images/hero.jpg');
  background-size: cover;
  background-position-y: -300px;

  &-overlay{ background: rgba(0, 0, 0, 0.65); }

  &-text{
    padding: 90px 0px 125px 0px;
    text-align: center;
    color: white;
  }

  &-paragraph{
    padding: 10px 0px 20px 0px;
  }
}
