.hero{
  background-image: url('images/hero.jpg');
  background-size: cover;

  &-overlay{ background: rgba(0, 0, 35, 0.75); }

  &-text{
    padding: 90px 0px 125px 0px;
    text-align: center;
    color: white;
  }

  &-paragraph{
    padding: 10px 0px 50px 0px;
    font-size: 24px;
    width: 1020px;
    margin: auto;
  }
}
