.balloon{
  background: linear-gradient($balloon-begin, $balloon-end);

  padding: 25px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: $text-color;
  display: none;
}

@keyframes balloon-animation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.balloon-animation{
  display: block;
  animation-name: balloon-animation;
  animation-duration: .5s;
}
