@font-face {
  font-family: 'Antwerpen';
  src: url('../fonts/Antwerpen-Regular.ttf');
}

@font-face {
  font-family: 'SunAntwerpen';
  src: url('../fonts/SunAntwerpen.ttf');
}

@font-face {
  font-family: 'SunAntwerpenCd';
  src: url('../fonts/SunAntwerpenCd_0.ttf');
}

@font-face {
  font-family: 'SunAntwerpenCdLight';
  src: url('../fonts/SunAntwerpenCd_1.ttf');
}

