/**
* Mixins
*/

@mixin clearfix{
  content: "";
  display: table;
  // clear: both;
}

/**
* General styling
*/

body{
  font-family: $primary-font;
  font-weight: 300;
  font-size: 18px;
}

.nodecoration{
    text-decoration: none;
}

.hidden{
  display: none !important;
}

.visible{
  visibility: visible !important;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.relative{
  position: relative;
}

.spacer{
  height: 120px;

  &-small{
    height: 50px;
  }
}

.clearfix{
  @include clearfix;
}

.no-padding{
  padding: 0px 0px 0px 0px;
}

.no-margin{
  margin: 0px 0px 0px 0px;
}

.border-box{
  box-sizing: border-box;
}

.mail{
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  
  & > i {
    transition: transform .5s ease;
  }

  &-white{
    color: white;
  }
  &:hover > i{
    transform: scale(1.2, 1.2);
  }
}

.align-center{ text-align: center; }

.align-right{ text-align: right; }

hr{
  color: $hr-color;
  border: 0px solid transparent;
  margin-top: 30px;
  border-top: 1px solid $hr-color;
}

ul{
  padding: 0; margin: 0;
  list-style: none;
}

li{
  margin: 15px 0px;
}

a{
  &:hover{ text-decoration: none; }
}
