/**
* Mixins
*/

@mixin clearfix{
  content: "";
  display: table;
  // clear: both;
}

/**
* General styling
*/

body{
  font-family: $primary-font;
  font-weight: 300;
}

.hidden{
  display: none;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.align-center{ text-align: center; }

ul{
  padding: 0; margin: 0;
  list-style: none;
}

li{
  margin: 15px 0px;
}

a{
  &:hover{ text-decoration: none; }
}

p{
  font-size: 18px;
}
