$experience-bg: #181781;
$experience-fg: white;

$balloon-begin: white;
$balloon-end: #f4f4f4;

$text-color: #333;

$primary-color: #278BD0;
$secondary-color: #F6E94C;

$primary-font: 'SunAntwerpen';
$title-font: 'Antwerpen';
$button-font : 'SunAntwerpenCd';
$label-light: 'SunAntwerpenCdLight';

/**
*  Buttons
*/

$button-experience-color: white;
$button-delete-color: red;

/**
* Form
*/ 

$textbox-border-color: #ccc;

/**
* Navigation
*/

$navigation-background: #333;
$navigation-font: $title-font;
$navigation-font-size: 36px;
$navigation-font-color: white;

$navigation-item-hover-bg: $secondary-color;
$navigation-item-hover-color: #333;

/**
* Well
*/

$well-background: #F3F3F3;
$well-shadow: inset 0px 0px 8px rgba(85, 85, 85, .45);

/**
* Footer
*/

$footer-background: #333;
$footer-credits-background: #444;
