$experience-bg: #181781;
$experience-fg: white;

$balloon-begin: white;
$balloon-end: #f4f4f4;

$text-color: #333;

$primary-color: #278BD0;
$secondary-color: #F6E94C;

$primary-font: 'SunAntwerpen';
$title-font: 'Antwerpen';
$button-font : 'SunAntwerpenCd';

/**
*  Buttons
*/

$button-experience-color: white;


/**
* Footer
*/

$footer-background: #333;
$footer-credits-background: #444;
