@mixin box-size($width: 500px, $height: 300px){
    height: $height;
    width: $width;
}

%box{
    border-radius: $box-border-radius;
    overflow: hidden;
    position: relative;
    margin: 0px;
    color: #333;
    background: $box-background-color;
    box-sizing: border-box;
}

.box {
    @extend %box;

    &-testimonialmargin{
        margin: 50px 0px;
    }

    &-margin{
        margin: 15px 0px;
    }
    
    &-title {
      margin: 20px 0px 15px 0px;
      font-size: 24px;
      font-weight: 900;
      color: $primary-color;/*#345;*/
    }

    &-admin{
      margin: 15px 0px;
    }

    &-content{
        padding: 0px 25px;
        font-size: 18px;
        color: #000;
    }

    &-details{
        border-top: 1px solid $box-border-color;
        padding: 15px 25px;
        font-family: $button-font;
        font-size: 14px;
    }

    &-button{
        @extend .button--box;
    }
}

.box-overlay {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    transition: background .5s ease;
    &:hover {
        background: rgba(0, 0, 0, .5);
        cursor: pointer;
    }
}

.box-large{
    @include box-size(100%, 511px);
}

.box-medium{
    @include box-size(100%, 250px);
    background-color: lighten($primary-color, 10%);
}
