.button{
  padding: 12px 50px;
  border: 2px solid transparent;
  border-radius: 3px;
  font-family: $button-font;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  transition: all .3s ease-in;
  outline: none;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
}

@mixin ghost-button($ghost-color, $hover-fg-color, $border-radius: 3px){
  background: transparent;
  border: 2px solid $ghost-color;
  color: $ghost-color;
  border-radius: $border-radius;
  &:hover{
    background: $ghost-color;
    color: $hover-fg-color;
  }
}

.button--experience{
  @extend .button;
  @include ghost-button(white, white);
  margin: 2vw 0vw;
  padding: 1vw 3vw;
  font-size: 1.2vw;
}

.button--primary{
  @extend .button;
  background: $primary-color;
  color: white;
  &:hover{
    background: darken($primary-color, 5%);
  }
}

.button--secondary{
  @extend .button;
  @include ghost-button($primary-color, white);
}

.button-ghost--secondary{
  @extend .button;
  @include ghost-button($secondary-color, black);
}

@media screen and(max-width: 700px){
  .button--experience{
    margin: 1vh 0vh;
    padding: 2.0vh 4.3vh;
    font-size: 2.8vh;
  }
}