@mixin col($number){
    width: round((100 / $number)) * 1%;
    float: left;

    @media screen and (max-width: 700px){
        width: 100%;
    }
}


@mixin col-perc($number){
    width: $number * 1%;
    float: left;

    @media screen and (max-width: 700px){
        width: 100%;
    }

}

.row{
  @include clearfix;
  width: 100%;
  box-sizing: border-box;
}

.col-2{
    @include col(2);
}

.col-3{
    @include col(3);
}

.col-perc-60{
    @include col-perc(60);
}

.col-perc-45{
    @include col-perc(45);
}

.col-perc-10{
    @include col-perc(10);
}




