@mixin col($number, $gutter: 0){
  width: round((100 / $number)) * 1%;
  padding-right: $gutter * 1%;
  // padding-top: $gutter * 1%;
  padding-bottom: $gutter * 1%;
  float: left;
  box-sizing: border-box;

  @media screen and (max-width: 700px){
    width: 100%;
  }
}

@mixin col-perc($number, $gutter: 0){
  @if($gutter == 0){
    width: $number * 1%;
  }
  @else{
    width: ($number - $gutter) * 1%;
    padding-right: $gutter * 1%;
    padding-bottom: $gutter * 1%;
  }


  float: left;
  box-sizing: border-box;

  @media screen and (max-width: 700px){
    width: 100%;
  }
}

.row{
  @include clearfix;
  width: 100%;
  box-sizing: border-box;
  padding: 0; margin: 0;
}

.col-1{
  @include col(1);
}

.col-1-gt-2{
  @include col(1, 2)
}

.col-2{
  @include col(2);
}

.col-2-gt-1{
  @include col(2, 1);
}

.col-2-gt-2{
  @include col(2, 2);
}

.col-2-gt-30{
  @include col(2, 2);
}

.col-3{
  @include col(3);
}

.col-3-gt-1{
  @include col(3, 1);
}

.col-perc-30{
  @include col-perc(30);
}

.col-perc-30-1{
  @include col-perc(30, 1);
}

.col-perc-15{
  @include col-perc(15);
}

.col-perc-20{
  @include col-perc(20);
}

.col-perc-25{
  @include col-perc(25);
}

.col-perc-40{
  @include col-perc(40);
}

.col-perc-40-1{
  @include col-perc(40, 1);
}

.col-perc-60{
  @include col-perc(60);
}

.col-perc-60-gt-2{
  @include col-perc(60, 2);
}

.col-perc-40-gt-2{
  @include col-perc(40, 2);
}

.col-perc-40-gt-30{
  @include col-perc(40, 1);
}

.col-perc-60-gt-30{
  @include col-perc(60, 1);
}

.col-perc-45{
  @include col-perc(45);
}

.col-perc-10{
  @include col-perc(10);
}

.col-perc-70{
  @include col-perc(70);
}

.col-perc-75{
  @include col-perc(75);
}

.col-perc-25{
  @include col-perc(25);
}

.col-perc-25-gt-2{
  @include col-perc(25, 2);
}
