label{
    font-family: 'SunAntwerpenCd';
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.label-light{
    font-family: $label-light;
}

.label-campus{
    @extend .label-light;
    background: $label-campus-color;
    color: white;
    margin: 5px;
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
}