.media-item{
  padding: 20px 20px;
  margin-right: 1%;
  margin-bottom: 1%;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
  width: 30%;
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  height: 75px;
  overflow: hidden;
  cursor: pointer;
  // border: 1px solid $hr-color;
  // box-shadow: $modal-shad

  &-selected{
    background: #eeffee;
  }

  &-add{
    margin-top: 75px;
  }

  &-value{
    float: left;
    width: 75%;
    height: 12px;
    padding: 8px 0px;
    overflow: hidden;
  }

  &-holder{
    @extend .row;
  }

  &-delete{
    @extend .button--close;
    font-size: 14px;
    background: white;
    color: #555;
    position: relative;
    top: -15px;
    padding: 8px 10px;
    margin: auto 0px;
    cursor: pointer;
    z-index: 3;
    &:hover{
      background: $hr-color;
      color: #555;
      border-radius: 50px;
    }
  }

  &-input-value{
    padding: 20px 0px;
    font-weight: 900;
  }
}

.mediabrowser-holder{
  padding: 35px 45px;
}

.image{
  width: 100%;
}