.select{
  @extend .textbox;
  min-width: 300px;
  width: auto;
  display: inline-block;
  cursor: default;
}

.select-options-holder{
  border: 1px solid $textbox-border-color;
  background: white;
  margin: 5px 0px;
  border-radius: 6px;
  min-width: 300px;
  position: absolute;
  overflow: hidden;
  max-height: 600px;
  visibility: hidden;
  overflow-y: auto;
}

.select-option{
  padding: 20px 15px;
  box-sizing: border-box;
  transition: background .7s ease;

    a{
      display: block;
      padding: 20px 15px;
      margin: -20px -15px;
    }

  &:hover{
    background: lighten($primary-color, 40%);
    cursor: pointer;
  }
}

.select-account{
  position: relative;
  top: 80px;
  right: -240px;
  a{
    text-decoration: none;
    color: #333;
  }
}
