.menu{
  @extend .menu-item;
  font-size: 18px;
  font-family: $button-font;
  border-left: 2px solid white;

  &-item{
    margin: 0;
    padding: 15px 20px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;

    i{
      font-size: 24px;
    }

    transition: background .5s ease;
    &:hover{
      background: rgba(255, 255, 255, .2);
    }
  }

  &-holder{
    @include clearfix;
    float: right;
    border: 2px solid white;
    color: white;
  }
  
  &-search{
    @extend .menu-item;
    margin-top: -1px;
    padding-bottom: 17px;
  }

  &-account{
    @extend .menu-item;
    border-left: 2px solid white;
  }

  &-text{
    float: right;
    padding: 0;
    margin-top: 2px;
    margin-left: 12px;
  }
}
