

.news{

    &-overlay{
       @extend .box-overlay;
    }

    &-item{
       @extend .box;
       width: 100%;
    }

    &-category{
        padding: 25px;

        text-transform: uppercase;
        text-align: right;
        text-decoration: none;

        font-family: $label-light;
        font-weight: 100;
        font-size: 14px;
         
        color: white;
        z-index: 1;

        &:hover{
            text-decoration: none;
        }
       
    }

    &-title{
        position: absolute;
        color: $secondary-color;
        font-weight: 900;
        padding: 25px;
        font-size: 21px;
        bottom: 45px;
    }

    &-button{
       @extend .button--box;
       padding: 23px;
       visibility: hidden;
       position: absolute;
       bottom: 0;
    }

    &-details{
        border-top: 1px solid rgba(255, 255, 255, .4);
        position: absolute;
        bottom: 0;
        color: white;
        padding: 25px;
        width: 100%;
        box-sizing: border-box;
    }

    &-author{
        float: left;
        text-align: left;
        font-weight: 600;
        font-family: $primary-font;
    }

    &-date{
        float: right;
        text-align: right;
        font-family: $label-light;
    }

    &-image{
        display: none;
    }
}