@keyframes notification-animation{
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-300px);
    }

    to{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@keyframes notification-close-animation{
    from{
        opacity: 1;
        visibility: visible;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

.notification{
    position: absolute;
    top: 50px;
    left: 36%;
    z-index: 4;

    box-shadow: $box-shadow;
    background: white;
    width: 25%;
    padding: 1%;
    border-radius: 3px;
    visibility: hidden;

    animation: notification-animation 1s, notification-close-animation .5s;
    animation-delay: 1s, 6s;
    animation-fill-mode: forwards;

    @media screen and(max-width: 860px){
        top: 0px;
        left: 0px;

        border-radius: 0px;
        padding: 25px 15px;
        width: 100%;
    }

    &-title{
        padding: 0;
        margin: 0;
        font-family: $primary-font;
        text-transform: uppercase;
        font-size: 18px;
        color: $primary-color;
    }

    &-message{
        margin: 10px 0px 0px 0px; padding: 0;
    }

    &-empty{
        display: none;
    }
    
}