.search{

    &-input{
        i{
            padding: 20px 25px;
            // border-left: 1px solid #ddd;
            color: #333;
        }
    }

    &-holder{
        @extend .select-options-holder;
        position: absolute;
        overflow: hidden;
        visibility: visible;
        display: none;
        width: 550px;
        box-sizing: border-box;

        border-radius: 6px;
        right: 0;
        top: 120px;

        @media screen and(max-width: 860px){
            position: absolute;

            left: 0px;
            top: 100px;
            margin: 0;
            
            width: 100%;
            border-radius: 0px;
        }
    }

    &-bezienswaardigheden{
        background: $primary-color;
        color: white;
    }

    &-scholen{
        background: $secondary-color;
        color: #111;
    }

    &-richting{
        background: red;
        color: white;
    }

    &-artikels{
        background: #333;
        color: white;
    }

    &-category{
        font-size: 13px;
        font-family: $label-light;

        text-transform: uppercase;
        padding: 3px;
        border-radius: 3px;
        float: right;
        
    }

    &-content-item{
        border-top: 1px solid #ddd;
        padding: 18px 20px 25px 20px;
        transition: all .5s ease;
        display: block;
        color: #333;

        h5{
            padding: 0px; 
            margin: 5px 0px;
        }

        &:hover{
            // background: #efefef;
            background: lighten($primary-color, 40%);
            cursor: pointer;
        }

    }
}

#search-button{cursor: pointer;}