%table-cell{
    padding: 15px;
    border-left: 2px solid $table-border-color;
    border-bottom: 2px solid $table-border-color;
    text-align: left;
}

.table-holder{
    border-radius: 6px;
    border-right: 2px solid $table-border-color;
    border-top: 2px solid $table-border-color;
    
    overflow-x: auto;
}

thead{
    background: $head-bg-color;
}

td{
    @extend %table-cell;
}

th{
    @extend %table-cell;
    background: $head-bg-color;
}

tr{
    
}